*.unity filter=lfs diff=lfs merge=lfs -text
*.unity merge=unityyamlmerge
*.prefab text eol=lf
*.prefab merge=unityyamlmerge
/Assets/Sprites/Map/Winter/PSD/Objects.psd filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Map.unity filter=lfs diff=lfs merge=lfs -text
